// Base

html, body {
    background-color: $color_black;
    color: $color_white;
    font-size: $size_base;
    position: relative;
}

.poster-container {
    cursor: s-resize;
}

.img-responsive {
    width: 100%;
    height: auto;
    @include for-tablet-landscape-up {
        height: 100%;
        width: auto;
    }
}

.coming-soon-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z_ceiling;
    background-color: $color_black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    display: none;

    h1 {
        font-size: $size_base_large;
    }
    h2 {
        opacity: .5;
    }
}

.flip--180 {
	transform: rotate(180deg);
}

.flip--90 {
    transform: rotate(90deg);
}

.flip {
    transform: scaleX(-1);
}

.poster-container {
    font-size: $size_base_small;
	display: grid;
    grid-template-columns: 50% 50%;
    @include for-desktop-up {
        grid-template-columns: repeat(4, 25%);
    }
}

.poster-container-footer {
    @extend %font-extended;
    font-size: $size_base_small;
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    @include for-desktop-up {
        grid-template-columns: repeat(8, 1fr);
    }
}

.disabled {
    cursor: not-allowed;
    opacity: .5;
}

.animation-lines-container {
	position: relative;
    overflow: hidden;

	.animation-lines {
		display: flex;
        flex-direction: column;
        transition: 900ms ease;
	}
	.mask-letter {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
        left: 0;
        transition: 300ms ease;
        &.mask-letter--hover {
            fill: $color_white;
            // fill: blue;
        }
    }
    p {
        margin: 0;
    }
}

.letter--question .mask-letter {
    cursor: pointer;
}

.question {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color_black;
    color: $color_white;
    cursor: pointer;
    transform: translateY(100%);
    transition: 600ms ease;
    &.question-reveal {
        transform: translateY(0);
    }
    @include for-phone-only {
        display: none;
    }
    .question-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(25vw - 2rem);
        padding: 1rem;
        .question-heading {
            @extend %font-extended-bold;
            letter-spacing: .1em;
            text-transform: uppercase;
            font-size: $size_small;
            opacity: 1;
            transition: 600ms ease;
            transform: translateY(5rem);
        }
        .question-text {
            font-size: $size_small;
            transition: 600ms ease;
            transform: translateY(2rem);
            opacity: .5;
        }
        .question-text-reveal {
            transform: translateY(0);
        }
        div:nth-child(1) {
            transition-delay: 200ms;
        }
        div:nth-child(2) {
            transition-delay: 300ms;
        }
        div:nth-child(3) {
            transition-delay: 450ms;
        }
    }
}

.hero-info-container {
    position: relative;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .hero-info {
        width: 70%;
        margin: 0 auto;
        @include for-phone-only {
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
        h1, h2 {
            @include for-phone-only {
                display: block;
                font-size: $size_base_large;
            }
        }
    }
    @include for-phone-only {
        font-size: $size_smallest;
        justify-content: center;
    }
}

.main-info {
    @include for-phone-only {
        // width: 100vw;
        h1, h2 {
            display: block;
        }
    }
}

svg {
	margin: 0;
	padding: 0;
}

.lines {
    fill: white;
    // fill: $color_black;
	width: .1em;
	height: 200%;
}

.mobile-hidden {
    @include for-phone-only {
        display: none;
    }
}

.footer-info-container {
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include for-desktop-up {
        grid-template-columns: repeat(4, 25%);
    }
}

.project-card {
    display: block;
    position: relative;
    height: 25vw;
    overflow: hidden;
    text-decoration: none;
    height: 50vw;
    @include for-desktop-up {
        height: 25vw;
    }
}

.project-logo {
    position: relative;
    height: 100%;
    width: 25%;
    margin: 0 auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 300ms ease;
    &.project-card-hovered {
        height: 80%;
    }
}

.project-card-name {
    opacity: 0;
    text-align: center;
    transition: 300ms ease;
    &.name-reveal {
        transform: translateY(-1rem);
        opacity: 1;
    }
}

.p-1 .project-logo {
    background-image: url('../images/Albrecht_Rachel/albrecht_rachel_white.png');
    &.color-logo {
        background-image: url('../images/Albrecht_Rachel/albrecht_rachel_color.png');
    }
}

.p-2 .project-logo {
    background-image: url('../images/Asta_August/asta_august_white.png');
    &.color-logo {
        background-image: url('../images/Asta_August/asta_august_color.png');
    }
}

.p-3 .project-logo {
    background-image: url('../images/Becher_Grace/becher_grace_white.png');
    &.color-logo {
        background-image: url('../images/Becher_Grace/becher_grace_color.png');
    }
}

.p-4 .project-logo {
    background-image: url('../images/Clinton_Katie/clinton_katie_white.png');
    &.color-logo {
        background-image: url('../images/Clinton_Katie/clinton_katie_color.png');
    }
}

.p-5 .project-logo {
    background-image: url('../images/Collier_Eric/collier_eric_white.png');
    &.color-logo {
        background-image: url('../images/Collier_Eric/collier_eric_color.png');
    }
}

.p-6 .project-logo {
    background-image: url('../images/Darton_Holly/darton_holly_white.png');
    &.color-logo {
        background-image: url('../images/Darton_Holly/darton_holly_color.png');
    }
}

.p-7 .project-logo {
    background-image: url('../images/Delagardelle_Noah/delagardelle_noah_white.png');
    &.color-logo {
        background-image: url('../images/Delagardelle_Noah/delagardelle_noah_color.png');
    }
}

.p-8 .project-logo {
    background-image: url('../images/Elmer_Kelli/elmer_kelli_white.png');
    &.color-logo {
        background-image: url('../images/Elmer_Kelli/elmer_kelli_color.png');
    }
}

.p-9 .project-logo {
    background-image: url('../images/Gerou_Tayler/gerou_tayler_white.png');
    &.color-logo {
        background-image: url('../images/Gerou_Tayler/gerou_tayler_color.png');
    }
}

.p-10 .project-logo {
    background-image: url('../images/Geurts_Megan/geurts_megan_white.png');
    &.color-logo {
        background-image: url('../images/Geurts_Megan/geurts_megan_color.png');
    }
}

.p-11 .project-logo {
    background-image: url('../images/Guck_Rachel/guck_rachel_white.png');
    &.color-logo {
        background-image: url('../images/Guck_Rachel/guck_rachel_color.png');
    }
}

.p-12 .project-logo {
    background-image: url('../images/Jordan_Lauren/jordan_lauren_white.png');
    &.color-logo {
        background-image: url('../images/Jordan_Lauren/jordan_lauren_color.png');
    }
}

.p-13 .project-logo {
    background-image: url('../images/Jorgenson_Jamie/jorgenson_jamie_white.png');
    &.color-logo {
        background-image: url('../images/Jorgenson_Jamie/jorgenson_jamie_color.png');
    }
}

.p-14 .project-logo {
    background-image: url('../images/Kleven_Taylor/kleven_taylor_white.png');
    &.color-logo {
        background-image: url('../images/Kleven_Taylor/kleven_taylor_color.png');
    }
}

.p-15 .project-logo {
    background-image: url('../images/Langley_Lucas/langley_lucas_white.png');
    &.color-logo {
        background-image: url('../images/Langley_Lucas/langley_lucas_color.png');
    }
}

.p-16 .project-logo {
    background-image: url('../images/Mayry_Kelsey/mayry_kelsey_white.png');
    &.color-logo {
        background-image: url('../images/Mayry_Kelsey/mayry_kelsey_color.png');
    }
}

.p-17 .project-logo {
    background-image: url('../images/Miller_Jenna/miller_jenna_white.png');
    &.color-logo {
        background-image: url('../images/Miller_Jenna/miller_jenna_color.png');
    }
}

.p-18 .project-logo {
    background-image: url('../images/Nelson_David/nelson_david_white.png');
    &.color-logo {
        background-image: url('../images/Nelson_David/nelson_david_color.png');
    }
}

.p-19 .project-logo {
    background-image: url('../images/Ogurek_Marissa/ogurek_marissa_white.png');
    &.color-logo {
        background-image: url('../images/Ogurek_Marissa/ogurek_marissa_color.png');
    }
}

.p-20 .project-logo {
    background-image: url('../images/Peitz_Sabrina/peitz_sabrina_white.png');
    &.color-logo {
        background-image: url('../images/Peitz_Sabrina/peitz_sabrina_color.png');
    }
}

.p-21 .project-logo {
    background-image: url('../images/Pfund_Mackenzie/pfund_mackenzie_white.png');
    &.color-logo {
        background-image: url('../images/Pfund_Mackenzie/pfund_mackenzie_color.png');
    }
}

.p-22 .project-logo {
    background-image: url('../images/Ries_Rachel/ries_rachel_white.png');
    &.color-logo {
        background-image: url('../images/Ries_Rachel/ries_rachel_color.png');
    }
}

.p-23 .project-logo {
    background-image: url('../images/Schuh_Cree/schuh_cree_white.png');
    &.color-logo {
        background-image: url('../images/Schuh_Cree/schuh_cree_color.png');
    }
}

.p-24 .project-logo {
    background-image: url('../images/Sipma_Josh/sipma_josh_white.png');
    &.color-logo {
        background-image: url('../images/Sipma_Josh/sipma_josh_color.png');
    }
}

.p-25 .project-logo {
    background-image: url('../images/Smith_Kayla/smith_kayla_white.png');
    &.color-logo {
        background-image: url('../images/Smith_Kayla/smith_kayla_color.png');
    }
}

.p-26 .project-logo {
    background-image: url('../images/Spiegel_Blake/spiegel_blake_white.png');
    &.color-logo {
        background-image: url('../images/Spiegel_Blake/spiegel_blake_color.png');
    }
}

.p-27 .project-logo {
    background-image: url('../images/Strait_Katrina/strait_katrina_white.png');
    &.color-logo {
        background-image: url('../images/Strait_Katrina/strait_katrina_color.png');
    }
}

.p-28 .project-logo {
    background-image: url('../images/Strom_Keenan/strom_keenan_white.png');
    &.color-logo {
        background-image: url('../images/Strom_Keenan/strom_keenan_color.png');
    }
}

.p-29 .project-logo {
    background-image: url('../images/Vogel_Hannah/vogel_hannah_white.png');
    &.color-logo {
        background-image: url('../images/Vogel_Hannah/vogel_hannah_color.png');
    }
}

.p-30 .project-logo {
    background-image: url('../images/Wagner_Dan/wagner_dan_white.png');
    &.color-logo {
        background-image: url('../images/Wagner_Dan/wagner_dan_color.png');
    }
}

.p-31 .project-logo {
    background-image: url('../images/Weiss_Ashley/weiss_ashley_white.png');
    &.color-logo {
        background-image: url('../images/Weiss_Ashley/weiss_ashley_color.png');
    }
}

.p-32 .project-logo {
    background-image: url('../images/Welke_Jenna/welke_jenna_white.png');
    &.color-logo {
        background-image: url('../images/Welke_Jenna/welke_jenna_color.png');
    }
}

.p-33 .project-logo {
    background-image: url('../images/Werner_Lila/werner_lila_white.png');
    &.color-logo {
        background-image: url('../images/Werner_Lila/werner_lila_color.png');
    }
}

.p-34 .project-logo {
    background-image: url('../images/Westphal_Andrew/westphal_andrew_white.png');
    &.color-logo {
        background-image: url('../images/Westphal_Andrew/westphal_andrew_color.png');
    }
}