// Variables

// Colors
$color_black: #000000;
$color_white: #FFFFFF;

// Sizing
$size_largest: 2.441rem;
$size_large_med: 1.953rem;
$size_large: 1.563rem;
$size_base_large: 1.25rem;
$size_base: 1rem;
$size_base_small: .8rem;
$size_small: 0.64rem;
$size_small_med: 0.512rem;
$size_smallest: 0.4rem;

// Z-indices
$z_floor: 0;
$z_low: 50;
$z_middle: 100;
$z_high: 150;
$z_ceiling: 200;