// Variables

// Colors
$color_black: #000000;
$color_white: #FFFFFF;

// Sizing
$size_largest: 2.441em;
$size_large_med: 1.953em;
$size_large: 1.563em;
$size_base_large: 1.25em;
$size_base: 1em;
$size_base_small: .8em;
$size_small: 0.64em;
$size_small_med: 0.512em;
$size_smallest: 0.4em;

// Z-indices
$z_floor: 0;
$z_low: 50;
$z_middle: 100;
$z_high: 150;
$z_ceiling: 200;